.cards {
	display:; flex;
	flex-wrap: wrap;
}

.card {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px
	color: black;
	padding: 100px 0px;
	text-align: center;
	font-size: 15px;
	margin: 20px 0px;
	
}
